#x-icon {
  height: 40px;
  width: 40px;
  float: right;
  right: 0;
  top: 0;
  position: absolute;

}

 // FOOTER SVG ICONS

svg{
  height: 60px;
  width: 60px;


  .social-path, .social-circle {
    fill: none;
    stroke-width: 10;

  }
  .social-circle {
    stroke-dasharray: 900;
    stroke-dashoffset: 900;

  }
  .social-path {
    stroke-dasharray: 700;
    -webkit-animation: dash 4s linear infinite;
    animation: dash 4s linear infinite;
  }
}


// ICON ANIMATION KEYFRAMES


  @keyframes dash {
   from{
     stroke-dashoffset:615;
   }
   to{
      stroke-dashoffset: 0;
    }
  }

// icon colors
  #fb-icon {
    circle {
      stroke: $facebook;
    }

    path {
      stroke: $facebook;
    }
  }

  #ig-icon {
    circle {
      stroke: $instagram;
    }

    path {
      stroke: $instagram;
    }
  }

  #vimeo-icon {
    circle {
      stroke: $vimeo;
    }

    path {
      stroke: $vimeo;
    }
  }

  #vine-icon {
    circle {
      stroke: $vine;
    }

    path {
      stroke: $vine;
    }
  }

  #yt-icon {
    circle {
      stroke: $youtube;
    }

    path {
      stroke: $youtube;
    }
  }

  #tw-icon{
    circle {
      stroke: $twitter;
    }

    path {
      stroke: $twitter;
    }
  }
