#x-icon {
  height: 40px;
  width: 40px;
  float: right;
  right: 0;
  top: 0;
  position: absolute;

}

 // FOOTER SVG ICONS

svg{
  height: 90px;
  width: 90px;


  .social-path, .social-circle {
    fill: rgba(255, 255, 255, 0);
    stroke-width: 10;

  }
  .social-circle {
    stroke-dasharray: 900;
    stroke-dashoffset: 900;


  }
  .social-path {
    fill: white;
  }
}


// ICON ANIMATION KEYFRAMES


  // @keyframes dash {
  //  from{
  //    stroke-dashoffset:615;
  //  }
  //  to{
  //     stroke-dashoffset: 0;
  //   }
  // }

// icon colors
  #fb-icon {
    circle {
      stroke: $facebook;
    }

    path {
      stroke: $facebook;
      stroke-dasharray: 614 ;
      stroke-dashoffset: 614 ;
    }
  }

  #ig-icon {
    circle {
      stroke: $instagram;
    }

    path {
      stroke: $instagram;
      stroke-dasharray: 680 ;
      stroke-dashoffset: 680 ;
    }
  }

  #vimeo-icon {
    circle {
      stroke: $vimeo;
    }

    path {
      stroke: $vimeo;
      stroke-dasharray: 813 ;
      stroke-dashoffset: 813 ;
    }
  }

  #vine-icon {
    circle {
      stroke: $vine;
    }

    path {
      stroke: $vine;
      stroke-dasharray: 1070 ;
      stroke-dashoffset: 1070 ;
    }
  }

  #yt-icon {
    circle {
      stroke: $youtube;
    }

    path {
      stroke: $youtube;
      stroke-dasharray: 560 ;
      stroke-dashoffset: 560 ;
    }
  }

  #tw-icon{
    circle {
      stroke: $twitter;
    }

    path {
      stroke: $twitter;
      stroke-dasharray: 819 ;
      stroke-dashoffset: 819 ;
    }
  }

//   FB: 614.8359375
// IG: 1487.576171875
// YT: 713.741943359375
// Vimeo: 813.818603515625
// Vine: 1070.095947265625
// TW: 819.3269653320312
