<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="spacer"></div>
    <div class="mediaContainer pure-g">
      <% 24.times do %>
        <div class="mediaGrid pure-u-1-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-xl-4">
            <img src="http://www.superherohype.com/assets/uploads/2015/08/star-wars-mobile-game-header.jpg" class="pure-img" id="commercialPic" alt="">
            </img>
            <h3 class="commercialTitle">Title</h3>
        </div>
      <% end %>
    </div>
  </body>
</html>
