<!DOCTYPE html>
<html>
  <head>
  </head>
	<body>
    <!-- <div id='cssmenu'>
      <ul>
         <li><a href='/'>Home</a></li>
         <li><a href='/about'>About</a></li>
         <li><a href='/media'>Media</a></li>
         <li><a href='/contact'>Contact</a></li>
      </ul>
    </div> -->

    <div class="spacer1"></div>
    <!-- Background -->
    <div id="bg">
      <!-- <img class="bg" src="pics/island-arial.jpeg" alt=""> -->
      <!-- <div id="bgTint"></div>
      <div class="buttonHold">
        <button id="enterPage" onclick="location.href='#'" type="button" name="button">TEST</button>
      </div> -->

      <div class="section group">
        <!-- <div class="col col4 noSmall"></div> -->
        <!-- <div class="col col4 headline">CONTACT</div> -->
        <!-- <div class="col col4 noSmall"></div> -->
      </div>
      <!-- <div class="section group contact">
        <div class="col col1 noSmall"></div>
        <div class="col col4 headline">CONTACT</div>
        <div class="col col4 noSmall"></div>
      </div> -->

      <h3 class="contactHeader">Contact Us</h3>
      <div class="containerContact">
        <form class="" action="contact.html" method="post">

          <div class="section group">

            <div class="col col6 contactForm">
              <i class="fa fa-pencil icon-contact"></i>
              <input type="text" name="first_name" placeholder="First Name" maxlength="50" size="30">
            </div>
            <div class="col col6 contactForm">
                <i class="fa fa-pencil icon-contact"></i>
                <input type="text" name="last_name" placeholder="Last Name" maxlength="50" size="30">
            </div>
          </div>
          <div class="section group">
            <div class="col col6 contactForm">
              <i class="fa fa-phone icon-contact"></i>
              <input type="text" name="phone" placeholder="Phone" maxlength="50" size="30">
            </div>
            <div class="col col6 contactForm">
                <i class="fa fa-envelope-o icon-contact"></i>
                <input type="text" name="email" placeholder="Email" maxlength="50" size="30">
            </div>
          </div>
          <div class="section group">
            <div class="col col12 contactFormComments">
              <i class="fa fa-file-text icon-contact"></i>
              <textarea name="comments" placeholder="Comments" cols="25" rows="7"></textarea>
            </div>
          </div>
          <div class="centeringItem">

          <div class="submitContact">
            <button type="submit" value="send"><i class="fa fa-paper-plane sendButton"></i>Send</button>
          </div>
          </div>
        </form>


      </div>


    </div>
  </body>
</html>
