<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div id='cssmenu'>
      <ul>
         <li><a href='/'>Home</a></li>
         <!-- <li class='active has-sub'><a href='#'>Products</a>
            <ul>
               <li class='has-sub'><a href='#'>Product 1</a>
                  <ul>
                     <li><a href='#'>Sub Product</a></li>
                     <li><a href='#'>Sub Product</a></li>
                  </ul>
               </li>
               <li class='has-sub'><a href='#'>Product 2</a>
                  <ul>
                     <li><a href='#'>Sub Product</a></li>
                     <li><a href='#'>Sub Product</a></li>
                  </ul>
               </li>
            </ul>
         </li> -->
         <li><a href='/about'>About</a></li>
         <li><a href='/media'>Media</a></li>
         <!-- <li><a href='/contact'>Contact</a></li> -->
      </ul>
    </div>



  <!-- TIWSTING HAMBURGER MENU -->
    <!-- <a id="hamburger-icon" href="#sidr">
      <span class="line line-1"></span>
      <span class="line line-2"></span>
      <span class="line line-3"></span>
    </a> -->


    <!-- <body class="drawer drawer--left">
      <header role="banner" id="navigator">
        <button type="button" class="drawer-toggle drawer-hamburger">
          <span class="sr-only">toggle navigation</span>
          <span class="drawer-hamburger-icon"></span>
        </button>
        <nav class="drawer-nav" role="navigation">
          <ul class="drawer-menu">
            <li><a class="drawer-brand" href="#">Brand</a></li>
            <li><a class="drawer-menu-item" href="#">Nav1</a></li>
            <li><a class="drawer-menu-item" href="#">Nav2</a></li>
          </ul>
        </nav>
      </header>
      <main role="main"> -->
        <!-- Page content -->



        <!-- Background -->
        <div id="bg">
          <img class="bg" src="pics/island-arial.jpeg" alt="">
          <div id="bgTint"></div>
          <div class="buttonHold">
            <button id="enterPage" onclick="location.href='/media'" type="button" name="button">ENTER</button>
          </div>
          <div class="socialContainer">
            <ul>
              <li><a href='#'><i class="fa fa-facebook fa-2x"></i></a></li>
              <li><a href='#'><i class="fa fa-instagram fa-2x"></i></a></li>
              <li><a href='#'><i class="fa fa-youtube-play fa-2x"></i></a></li>
            </ul>
          </div>
          <!-- Using Grid Example  -->
          <!-- <div class="section group">
            <div class="col col4">HI</div>
            <div class="col col4">HI</div>
            <div class="col col4">HI</div>
          </div> -->
        </div>
  </body>
</html>
