<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

  <!-- TIWSTING HAMBURGER MENU -->
    <!-- <a id="hamburger-icon" href="#sidr">
      <span class="line line-1"></span>
      <span class="line line-2"></span>
      <span class="line line-3"></span>
    </a> -->

        <!-- Background -->
        <div id="bg"></div>
          <!-- <img class="bg" src="pics/island-arial.jpeg" alt=""> -->
          <div id="bgTint"></div>
          <div class="buttonHold">
            <button id="enterPage" onclick="location.href='/media'" type="button" name="button">VIEW WORK</button>
          </div>
          <div class="socialContainer">
            <ul>
              <li><a href='#'><i class="fa fa-facebook fa-2x"></i></a></li>
              <li><a href='#'><i class="fa fa-instagram fa-2x"></i></a></li>
              <li><a href='#'><i class="fa fa-youtube-play fa-2x"></i></a></li>
            </ul>
          </div>
  </body>
</html>
