<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="backgroundNews"></div>
    <div class="spacerBar"></div>
    <div class="blogBody hCenterBlock">
      <% @item.each do |i| %>
        <div class="newsItem">
          <div class="section group blogTitle">
            <div class="col col12">
              <h2 class="newsTitle">
                <%= i.title %>
              </h2>
            </div>
          </div>
          <div class="section group blogItem">
            <%= link_to(i.url,:class => "fancybox fancybox.iframe", 'data-thumbnail' => "#{i.image.thumb.url}", :rel => "gallery", :title => "#{i.title}") do %>
              <div class="col7 col blogImage"></div>
            <% end %>
            <div class="col5 col blogDescript">
              <p>
                <%= i.description %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </body>

  <script type="text/javascript">
  $(document).ready(function() {
    /* Every time the window is scrolled ... */
    $(window).scroll( function(){
      /* Check the location of each desired element */
      $('.newsItem').each( function(i){

        var bottom_of_object = $(this).offset().top + $(this).outerHeight();
        var bottom_of_window = $(window).scrollTop() + $(window).height();

        /* If the object is completely visible in the window, fade it it */
        if( bottom_of_window > bottom_of_object - 300 ){

          $(this).animate({'opacity':'1'},500);
        }
      });
    });


    $('.fancybox').fancybox({
      helpers:  {
          title : {
              type : 'inside'
          },
          overlay : {
              css : {
                  'background' : 'rgba(0,0,0,.4)'
              }
          },
          thumbs : {
              width: 50,
              height: 50,
              source  : function(current) {
                return $(current.element).data('thumbnail');
              }
          }
      }
    });

  });
  </script>
</html>
