<!-- NOTE: the casein:scaffold generator automatically appends new controllers to this file. The SCAFFOLD_INSERT line must NOT be removed -->
<!-- SCAFFOLD_INSERT -->
<li id="tab-media_index"><%= link_to "Media", casein_media_index_path %></li>
<li id="tab-meidas"><%= link_to "Meidas", casein_meidas_path %></li>