.aboutContainer {
  height: auto;
  width: 100%;
  position: relative;
}

.aboutTitle {
  width: 100%;
  padding-top: 100px;
  text-align: center;

  h3 {
    @include tShadow;
    font-size: 3rem;
    font-weight: 900;
  }
}


.aboutInfo {
    height: 95vh;
    background-color: white;
    width: 100%;
    position: relative;
    p, h3 {
      letter-spacing: normal;
    }

    .aboutP {
      padding-top: 100px;
      height: auto;
      width: 60%;
      // max-width: 700px;
      // background-color: blue;
      margin: 0 auto;
      font-size: 1em;
    }
  }

.workOn {
  height: auto;
  width: 100%;
}


  .workObject {
    height: 30vw;
    // border-left: 1px solid #d2d2d2;
    // border-right: 1px solid #d2d2d2;

  }

  @media screen and (max-width: 567px) { /* Specific to this particular image */

    #camera1 {
      padding-top: -10%;
    }

    .workObject {
      height: 50vh;
      border-bottom: 1px solid #d2d2d2;
      border-top: 1px solid #d2d2d2;

    }
  }
