body {
  background:#0b1d2a;
}

.arrows {
	width: 60px;
	height: 80px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 20px;
}

.arrows path {
	stroke: $orange;
	fill: transparent;
	stroke-width: 5px;
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite;
  z-index: 200;
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-.5s;
	-webkit-animation-delay:-.5s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-.25s;
	-webkit-animation-delay:-.25s; /* Safari 和 Chrome */
}

.arrows path.a3 {
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}
