
#bg {

background: image-url('Production-image.png') no-repeat center center fixed;
@include bg;

}

.buttonHold{
  position: absolute;
  text-align: center;
  min-height: 100%;
  min-width: 100%;
  z-index: 40;
}

button#enterPage{
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  color: white;
  width: 170px;
  height: 50px;
  border:3px solid white;
  background: none;
  text-align: center;
  margin-top: 65vh;
  outline: none;
  z-index: 1;
  opacity: .9;
  border-radius: 25px;
  @include lato;
  cursor: pointer;





  -webkit-box-shadow: 0px 24px 46px -22px rgba(0,0,0,1);
  -moz-box-shadow: 0px 24px 46px -22px rgba(0,0,0,1);
  box-shadow: 0px 24px 46px -22px rgba(0,0,0,1);

  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: all;

}


button#enterPage:hover{
  color: black;
  background: white;
  opacity: .9;
  font-weight: 600;
  -webkit-box-shadow: 0px 16px 80px -5px rgba(0,0,0,.8);
  -moz-box-shadow: 0px 16px 80px -5px rgba(0,0,0,.8);
  box-shadow: 0px 16px 80px -5px rgba(0,0,0,.8);
}


.socialContainer {
  position: absolute;
  margin-top: 85vh;
  width: 100%;
  text-align: center;
  z-index: 500;

  ul {
    width: 100%;
    margin: 0 auto;
    word-spacing: 20px;
    li {
      display: inline;
      text-align: center;
      cursor: pointer;
      a {
        i {
            color: white;
            opacity: .6;
            -webkit-transition-duration: .5s;
            transition-duration: .5s;
            -webkit-transition-property: opacity color;
        }
        i:hover {
            color: $orange;
            opacity: .9;
        }
      }
    }
  }
}
