.footer{
  height: 40vh;
  background-color: white;
  position: absolute;
  margin-bottom: 0;
  width: 100%;
  -moz-box-shadow:0px -5px 5px rgba(0,0,0,0.6);
  -webkit-box-shadow:0px -5px 5px rgba(0,0,0,0.6);
  box-shadow:0px -5px 5px rgba(0,0,0,0.6);

  .footerHeading{
    color: $dGrey;
    font-weight: 400;
    word-spacing: 10px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .footerInfo{
    position: relative;
    height: 300px;

    .footerContainer{
      width: 100%;
      height: 25%;
      text-align: center;
      font-size: 20px;
      position: relative;

      ul.pageLinks {
        margin: 0 auto;
        display: table;
        list-style: none;
        width: 60%;
        max-width: 400px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        li{
          display: table-cell;
          text-align: center;
          a {
            text-decoration: none;
            color: black;
            font-weight: 600;
            display: block;

          }
        }
      }
    }
  }

  .footerContainer:not(:last-child) {
  }

  .line-separator {
    height: 1px;
    background-color: black;
    margin: 0 auto;
    width: 60%;
    max-width: 600px;
  }



  .policy p{
    font-size: 13px;
    color: $lGrey;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .footerSocial{
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    ul {
      margin: 0 auto;
      width: 500px;
      display: table;

      li {
        display: table-cell;
        position: relative;
        top: 50%;
        a {
          display: block;
          .social-icons {
            fill:none;
            stroke:#000000;
            stroke-width:10;
            stroke-linecap:square;
            stroke-miterlimit:5;
          }
          svg{
            height: 60px;
            width: 60px;
          }
        }
      }
    }
  }
}

.footerTitle{
  width: 100%;
  height: 15vh;
  text-align: center;

    h3 {
      font-size: 3em;
      // padding-top: 50px;
      letter-spacing: 0px;
      font-weight: 900;
      position: relative;
      top: 60%;
      transform: translateY(-50%);

      .halfTitle {
        color: $orange;
      }
    }
}
