h3.modal-Title {
  color: black;
  font-size: 4em;
  padding: 10px;
  font-weight: 900;

}

.sidePiece{
}


.modal-Desc {
  color: black;
  letter-spacing: 2px;
  margin-top: 20px;
  font-weight: 300;
}
