.backgroundNews {
  background: image-url('http://qlook.bz/uploads/camera-man.jpg') no-repeat center center fixed;
  z-index: -50;
  @include bg;
}

.spacerBar {
  height: 100vh;
  width: 100%;
  // background-color: white;
}

.blogBody{
  width: 80%;
  height: auto;
  background-color: white;
  padding: 10px 10px 10px;
}

.blogItem {
  height: auto;
  // opacity: 0;
}

.blogImage {
  background-color: red;
  height: 30vw;
}
.blogDescript {
  background-color: blue;
  height: 30vw;
  padding: 10px 10px 10px 10px;
}

.newsTitle {
  font-size: 3em;
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 20px;
}

.newsItem {
  opacity: 0;
  border-bottom: 2px solid $dGrey;
  padding-bottom: 10px;
}

.blogImage {
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size: 100% auto!important;
  // max-width: 1920px; /* YOUR BG MAX SIZE */
  // background-size: 100%;
}
