
$orange: #f1b521;
$yellow: #e0e31a;
$lGrey : #66696e;
$dGrey : #4a4a4f;




.spacer1 {
  padding-top: 55px;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

.headline {
  font-size: 90px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin-top: 80px;
  margin-bottom: 40px;
  -moz-text-shadow:0px 2px 2px rgba(0,0,0,0.4);
  -webkit-text-shadow:0px 2px 2px rgba(0,0,0,0.4);
  text-shadow:0px 2px 2px rgba(0,0,0,0.4);
}


.mediaClip {
  height: 200px;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  background-color: white;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-property: all;
  -moz-box-shadow:0px 2px 2px rgba(0,0,0,0.4);
  -webkit-box-shadow:0px 2px 2px rgba(0,0,0,0.4);
  box-shadow:0px 2px 5px rgba(0,0,0,0.4);
}
.mediaImg {
  max-height: 275px;
  width: auto;
  width: auto\9; /* ie8 */
  opacity: 1;
  display: block;
  margin: 0 auto;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: all;
  vertical-align: middle;

}
.headline {
  margin-bottom: 57vh;
  margin-top: 40vh;
}




.clipTitle {
  position: absolute;
  top: 45%;
  font-size: 30px;
  font-weight: 900;
  color: white;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-property: all display;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity .5s linear;


}


.clipInfo {
  z-index: 100;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: white;
  text-shadow: 0px 2px 3px #222;
  width: 100%;
  height: 100%;
}

.clipCaption {
  position: absolute;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-property: all;
  visibility: hidden;


}

.mediaGallery {
  margin-left: 7%;
  margin-right: 7%;

}

@media only screen and (min-width: 1200px) {
  .mediaGallery {
    margin-left: 10%;
    margin-right: 10%;

  }

  .mediaClip {
    height: 300px;
  }

  .mediaImg {
    max-height: 300px;

  }



}

@media only screen and (max-width: 750px) {


  .mediaGallery {
    margin-left: 30px;
    margin-right: 30px;

  }

  .spacer1 {
    padding-top: 15px;
  }

  .col {  margin: 1% 0 1% 0%; }

  .col4 {
    width: 100%;
  }

  .headline {
    margin-top: 60px;
    margin-bottpom: 60px;
  }

  .mediaClip {
    max-width: 100%;
    height: 300px;
    margin-right: 0;
    margin-left: 0;
  }
  .mediaImg {
    max-height: 400px;
  }
  .headline {
    margin-bottom: 57vh;
    margin-top: 40vh;
  }
}

@media only screen and (max-width: 700px) {

  .headline {
    margin-bottom: 57vh;
    margin-top: 50%;
}
  .mediaImg {
    max-height: 350px;
  }

}

@media only screen and (max-width: 600px) {
  .mediaImg {
    max-height: 300px;
  }

}

// @media only screen and (max-width: 400px) {
//
//   .headline {
//     margin-bottom: 50vh;
//     margin-top: 50%;
// }
//   .mediaImg {
//     max-height: 350px;
//   }
// }



.mediaClip:hover{

  .mediaImg {
    opacity: .8;
    transform: scale(1.1);
  }
  .clipTitle{
    visibility: visible;
    opacity: 1;
  }


}
