
$orange: #f1b521;
$yellow: #e0e31a;
$lGrey : #66696e;
$dGrey : #4a4a4f;

@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Lato:400,900,700,300,100,300italic);

@import "reset";
@import "progressBar";
@import "grid";
// @import "grids-responsive-min";
@import "centering";


@import "nav-bar";
@import "background";



@import "news";
@import "contact";
@import "commercials";
@import "footer";
@import "modal";
@import "modal-style";
@import "enterButton";
@import "svgs/*";
@import "downArrow";
@import "morphing";


body{
  background: white;
}

html * {
  font-family: 'Lato', sans-serif;
}

.drawer {
  z-index: 40!important;
}
// body{
//   height: 50px;
//   width: 50px;
//   // background-color: $mainC;
// }
//
// h2{
//   color:blue;
// }
//
//
// ul{
//   background: red;
//   li {
//     display: inline;
//   }
//
// }
