<!DOCTYPE html>
<html>
<head>
  <title>Phoenix</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<header>
  <div id='cssmenu'>
    <ul>
       <li class="homeButton"><a href='/'>Home</a></li>
       <li><a href='/about'>About</a></li>
       <li><a href='/media'>Media</a></li>
       <li><a href='/news'>News</a></li>

       <!-- <li><a href='/contact'>Contact</a></li> -->
    </ul>
  </div>
</header>
<body>

<%= yield %>

</body>
</html>
